* {
  font-family: Arial;
}

li {
  list-style-type: none;
  padding: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.p20 {
  padding: 20px;
}

header {
  background-color: snow;
  position: sticky;
  padding: 10px;
}

header, ul, footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

a:hover {
  color: rgb(120, 34, 34);
  font-size: 20px;
  background-color: chocolate;
  border-radius: 20px;
  padding: 10px;
}

/*--MOBILE--*/
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
  }
  a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  p {
    font-size: 22px;
  }
  .grindMainProductos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .gridMainIndex {
    display: grid;
    grid-template-areas: "imgPrincipal imgPrincipal imgPrincipal" "titulo titulo titulo" "pIzq imgP pDer";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto auto;
  }
  .imgPrincipal {
    grid-area: imgPrincipal;
  }
  .titulo {
    grid-area: titulo;
  }
  .pIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgP;
  }
  .pDer {
    grid-area: pDer;
  }
  .gridMainProductos {
    display: grid;
    grid-template-areas: "tituloProd tituloProd tituloProd tituloProd" "prodA prodB prodC prodD";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
  }
  .tituloProd {
    grid-area: tituloProd;
  }
  .prodA {
    grid-area: prodA;
  }
  .prodB {
    grid-area: prodB;
  }
  .prodC {
    grid-area: prodC;
  }
  .prodD {
    grid-area: prodD;
  }
  .gridIndex {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  footer {
    background-color: rgb(120, 151, 156);
  }
}
.prod {
  background-color: lightsalmon;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}

.h3Prod {
  text-align: center;
}

.gridMainContacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

input:focus {
  height: 100;
  font-size: 30px;
}

.textoNos {
  text-align: center;
  font-size: 40px;
}

/**COSAS GENERALES**/
.img-fluid {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.jusconbeetween {
  justify-content: space-between;
}

.pIzq {
  font-size: 50px;
}

.pDer {
  font-size: 50px;
}

body {
  margin: 0;
  background-color: powderblue;
}

a {
  text-decoration: none;
  color: black;
  transition: 1s all;
}

.translate {
  transition: all 1s;
}
.translate:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

header {
  background-image: linear-gradient(to top, powderblue, transparent);
}

/*# sourceMappingURL=style.css.map */
